* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color          : inherit;
}

input {
  min-width    : 300px;
  padding      : 0.5rem;
  display      : block;
  margin       : 1rem auto;
  border       : 1px solid gainsboro;
  border-radius: 7px;
  outline      : none;
}

button {
  display         : block;
  min-width       : 120px;
  margin          : 1rem auto;
  padding         : 0.5rem 0.75rem;
  background-color: turquoise;
  border          : none;
  border-radius   : 7px;
  letter-spacing  : 0.1rem;
  font-size       : 1rem;
  font-weight     : bold;
  text-transform  : uppercase;
  outline         : none;
}

button:disabled,
button[disabled] {
  background-color: rgba(161, 218, 213, 0.425);
  color           : white;
  border          : none;
  outline         : none;
}


.Company-desc {
  max-width: 480px;
  margin: 0 auto;
}