.JobCard {
  min-width: 300px;
  max-width: 480px;
  margin   : 1.5rem auto;
  position : relative;
}

.JobCard {
  border    : solid 1px gainsboro;
  padding   : 1rem;
  text-align: left;
}

.JobCard:hover {
  box-shadow: 0px 0px 3px gainsboro;
}

.JobCard button {
  position: absolute;
  bottom  : 0.75rem;
  right   : 1.25rem;
}

.JobCard button:hover {
  background: transparent;
  border    : solid 1px turquoise;
  box-shadow: 0px 0px 3px turquoise;
}

.JobCard-text {
  display: inline-block;
}