.NavBar {
  position        : relative;
  text-align      : right;
  background-color: rgba(161, 218, 213, 0.425);
  font-size       : 1rem;
  height          : 2.5rem;
}

#NavBar-logo{
  left    : 1em;
  position: absolute;
}

.NavBar section {
  display     : inline-block;
  margin-right: 1rem;
}

.NavBar a {
  display : inline-block;
  position: relative;
  padding : 0.5rem 0.5rem;
}

a.active {
  font-weight: bold;
}